body {
    height: 100%;
    margin: 0;
    padding-left: 20px;
    font-family: Arial, sans-serif;
}

/* YOUR CSS CODE GOES HERE */

circle {
    stroke: white;
    stroke-width: 1.5px;
    opacity: 0.7;
}

svg {
    border: 1px solid #ccc;
    padding: 10px;
}

text {
    font-size: 12px;
}

.x-label {
    padding: 5px;
    font-size: 15px;
}

.y-label {
    padding: 5px;
    font-size: 15px;
}