body {
    height: 100%;
    margin: 0;
    padding-left: 20px;
    padding-right: 20px;
    font-family: Arial, sans-serif;
}

/* YOUR CSS CODE GOES HERE */

circle {
    stroke: white;
    stroke-width: 1.5px;
    opacity: 0.7;
}

svg {
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    border-radius: 10px;
    margin-bottom: 0px;
    padding-left: 10px;
}

text {
    font-size: 12px;
}

.x-label {
    font-size: 15px;
}

.y-label {
    font-size: 15px;
}

#main-content {
    display: flex;
    flex-direction: row;
}

#legend {
    width: 20%;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    padding: 10px;
    margin-left: 5px;
    border-radius: 10px;
}

.legend-item {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    padding: 0;
}

.legend-item i {
    font-size: 24px;
    margin-right: 8px;
}

.legend-item svg {
    border: 1px solid #ccc;
    padding: 0px;
    border-radius: 10px;
}

#legend-item-grey {
    background-color: grey;
    margin-right: 8px;
}

#legend-item-lightblue {
    background-color: lightblue;
    margin-right: 8px;
}

#legend-item-blue {
    background-color: blue;
    margin-right: 8px;
}

#legend-item-green {
    background-color: green;
    margin-right: 8px;
}

#legend-item-orange {
    background-color: orange;
    margin-right: 8px;
}

#legend-item-red {
    background-color: red;
    margin-right: 8px;
}

#car-details {
    width: 20%;
    padding: 10px;
    margin-left: 5px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
}

.car-detail-row {
    margin-bottom: 8px;
    display: flex;
}

.car-detail-row p:first-child {
    font-weight: bold;
}

#car-info-blank {
    display: block;
}

#car-info-filled {
    display: none;
}

#car-info-filled p {
    margin-left: 5px;
}